@model BloodDonationApplication.Models.Zavod

@{
    ViewData["Title"] = "PotvrdaEmailova";
}

<h1>E-mailovi uspješno poslani!</h1>

<br />

<p>
    <a asp-action="Index" asp-controller="Zavod">Nazad na početnu</a>
</p>

<br />

<p>
    <a asp-action="Index" asp-controller="Home">Odjava</a>
</p>