@model BloodDonationApplication.Models.Donor

@{
    ViewData["Title"] = "Pretraga";
}

<h1>Pretraga donora po jedinstvenom matičnom broju</h1>

<br />

<h4>Unesite matični broj s ciljem utvrđivanja da li osoba već postoji u sistemu:</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Usmjeravanje">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Jmbg" class="control-label"></label>
                <input asp-for="Jmbg" class="form-control" />
                <span asp-validation-for="Jmbg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Traži" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br />

<p>
    <a asp-action="Index" asp-controller="Zavod">Nazad na početnu</a>
</p>

<br />

<p>
    <a asp-action="Index" asp-controller="Home">Odjava</a>
</p>