@model BloodDonationApplication.Models.Pregled

@{
    ViewData["Title"] = "Unos pregleda";
}

<h1 style="color:#cc0000;">Unos podataka o pregledu</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DatumPregleda" class="control-label"></label>
                <input asp-for="DatumPregleda" class="form-control" />
                <span asp-validation-for="DatumPregleda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetaljiPregleda" class="control-label"></label>
                <input asp-for="DetaljiPregleda" class="form-control" />
                <span asp-validation-for="DetaljiPregleda" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UspjesanPregled" /> @Html.DisplayNameFor(model => model.UspjesanPregled)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Sačuvaj pregled" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br />

<p>
    <a asp-action="Index">Lista pregleda</a>
</p>

<br />

<p>
    <a asp-action="Index" asp-controller="Zavod">Nazad na početnu</a>
</p>

<br />

<p>
    <a asp-action="Index" asp-controller="Home">Odjava</a>
</p>