@model BloodDonationApplication.Models.Donacija

@{
    ViewData["Title"] = "Brisanje donacije";
}

<h1 style="color:#cc0000;">Brisanje donacije</h1>

<h3>Jeste li sigurni da želite obrisati donaciju?</h3>
<div>
    <h4 style="color:#cc0000;" >Donacija</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatumDonacije)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumDonacije)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoniranaKolicinaKrvi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoniranaKolicinaKrvi)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="DonacijaId" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> |
        <a asp-action="Index">Lista donacija</a>
    </form>
</div>

<br />

<p>
    <a asp-action="Index" asp-controller="Home">Nazad na početnu</a>
</p>

<br />

