@{
    ViewData["Title"] = "Početna stranica";
}

    <div class="text-center">
        <br />
        <br />
        <h1 class="display-4" style="text-align:center;">Dobrodošli u BDA - Blood Donation Application!</h1>

        <h3 style="color:#cc0000;"><i>Da li ste spremni biti mali superheroj?</i></h3>
        <br />
        <p>
            <a asp-controller="Korisnik" asp-action="Create">Prijava</a>
        </p>

        <img src="https://www.westcityradio.ro/wp-content/uploads/2018/05/donare-sange.jpg" style="max-width:100%;height:auto;">


    </div>