@{
    ViewData["Title"] = "BDA – Blood Donation Application";
}
  
<h1 style="text-align:center;">@ViewData["Title"]</h1>

<img src="https://www.nysenate.gov/sites/default/files/styles/760x377/public/donate_blood_rotator.jpg?itok=SKSv3T7P&timestamp=1444009944" style="max-width:100%;height:auto;">

<p><b>Članovi tima:</b></p>
<p><b>Esmina Radušić, Samra Pušina, Džavid Brdar</b></p>

<br />

<h3><ins>O aplikaciji</ins></h3>
<p>Živimo u burnom, zahtjevnom i izazovnom vremenu. Svakodnevno, svjedoci smo progresivnog napretka i razvoja tehnologije i nauke. Ipak, nastojanja da se krv nadomjesti umjetnim proizvodom za sada nisu u potpunosti uspjela. Kažu da je život živoga bića u krvi, a transfuzija je most između zdravih i bolesnih. Svake sekunde neko u svijetu treba krv kako bi preživio . Ako niste znali, činom doniranja ne pomažete samo onima kojima je krv potrebna, već i samome sebi. Doniranjem krvi 2 – 3 puta godišnje smanjujete rizik od srčanog udara, količinu holesterola i lipida u krvi te sagorijevate kalorije. Dvadeset minuta Vašeg vremena i 350ml Vaše krvi je nekada dovoljno da spasite tri života..</p>

<p style="color:#cc0000"><i>Da li ste spremni biti mali superheroj?</i></p>

<p>BDA – Blood Donation Application olakšava poslovanje zavoda za transfuziologiju i medicinskih ustanova, vodeći evidenciju o postojećim zalihama, registrovanim donorima i obavljenim transfuzijama. U slučaju deficita, omogućeno je efikasno kontaktiranje darivatelja. Aplikacija ubrzava pohranjivanje informacija u procesu darivanja krvi i obradu primljenih zahtjeva za istom. Krv mora da čeka pacijenta, a ne pacijent krv. Evidencija o raspoloživim zalihama i brzo ažuriranje podataka koje omogućava Blood donation application, štedi vrijeme i pospješuje interakciju ustanova uključenih u proces darivanja krvi.</p>
